@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/ProximaNova-Semibold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.ttf");
  font-weight: bold; }
* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none !important;
  transition: 0.3s; }

body {
  font-family: "Proxima-Nova", sans-serif;
  color: #181B31; }

.bg-blue1 {
  background: #71C9D9; }

.bg-blue2 {
  background: #05385C; }

.bg-pink {
  background: #FF8080; }

.bg-gray {
  background: #F8FAFC; }

.blue {
  color: #05385C; }

.blue2 {
  color: #71C9D9; }

.pink {
  color: #FF8080; }

.gray {
  color: #707070; }

@media (min-width: 1200px) {
  .container {
    max-width: 1120px; } }

.titillium {
  font-family: "Titillium Web", sans-serif; }

.row-1 {
  margin-left: -8px;
  margin-right: -8px; }
  .row-1 > [class*='col'] {
    padding-left: 8px;
    padding-right: 8px; }

@media (min-width: 1200px) {
  .row-2 {
    margin-left: -22px;
    margin-right: -22px; }
    .row-2 > [class*='col'] {
      padding-left: 22px;
      padding-right: 22px; } }
.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: "Titillium Web", sans-serif; }

.h1, h1 {
  font-weight: bold;
  font-size: 48px; }
  @media (max-width: 575.98px) {
    .h1, h1 {
      font-size: 40px; } }

.h2, h2 {
  font-weight: 600;
  font-size: 45px;
  color: #05385C; }
  @media (max-width: 575.98px) {
    .h2, h2 {
      font-size: 35px; } }

.h3, h3 {
  font-weight: 600;
  font-size: 30px;
  color: #05385C; }

.h4, h4 {
  font-weight: 600;
  font-size: 24px;
  color: #05385C; }

.h5, h5 {
  font-weight: 600;
  font-size: 18px;
  color: #181B31;
  opacity: 0.3; }

.h6, h6 {
  font-weight: 600;
  font-size: 16px;
  color: #05385C;
  margin-bottom: 0; }

a.h6:hover {
  color: initial;
  opacity: 0.6; }

.fz-0 {
  font-size: 0px; }

.fz-12 {
  font-size: 12px; }

.fz-14 {
  font-size: 14px; }

.fz-15 {
  font-size: 15px; }

.fz-18 {
  font-size: 18px; }

.fz-20 {
  font-size: 20px; }

.fz-23 {
  font-size: 23px; }

.fz-30 {
  font-size: 30px; }

.fz-32 {
  font-size: 32px; }
  @media (max-width: 575.98px) {
    .fz-32 {
      font-size: 26px; } }

.fz-36 {
  font-size: 36px; }

.fz-40 {
  font-size: 40px; }

.fz-48 {
  font-size: 48px; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.lh-1 {
  line-height: 1; }

.lh-12 {
  line-height: 1.2; }

.bt-1 {
  border-top: 1px solid #ced4da; }

.link-pink {
  font-size: 13px;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  color: #FF8080; }
  .link-pink .arrow-pink {
    transition: 0.3s; }
  .link-pink:hover {
    color: #FF8080;
    opacity: 0.6; }
    .link-pink:hover .arrow-pink {
      transform: translateX(5px); }

.link-tag {
  display: inline-block;
  font-size: 12px;
  padding: 2px 10px;
  color: #05385C;
  background: #FFF;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-right: 4px; }
  .link-tag:hover {
    color: #05385C;
    opacity: 0.6; }

.btn-login {
  background: #FF8080;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border-radius: 100px;
  padding: 8px 24px;
  transition: 0.3s; }
  .btn-login:focus {
    box-shadow: none; }

.btn-add {
  text-transform: capitalize; }
  .btn-add:hover {
    color: #FFF;
    opacity: 0.8; }

.btn-follow {
  padding: 5px 28px; }

.btn-following {
  background: #FFF;
  border: 1px solid #FF8080;
  color: #FF8080;
  padding: 5px 19px; }
  .btn-following:hover {
    background: #FF8080;
    color: #FFF;
    opacity: 1; }

.btn-approval {
  color: #FFF;
  background: #2CB374;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 12px;
  transition: 0.3s; }
  .btn-approval:focus {
    box-shadow: none; }
  .btn-approval:hover {
    color: #FFF;
    opacity: 0.8; }

.btn-pending {
  color: #05385C;
  background: #FFCD69; }
  .btn-pending:hover {
    color: #05385C;
    opacity: 0.8; }

.fixed-top {
  background: rgba(5, 56, 92, 0.5);
  transition: transform 0.3s, margin-top 0.3s; }
  .fixed-top .navbar {
    padding-left: 0;
    padding-right: 0;
    transition: background-color 0.3s, padding-top 0.3s, padding-bottom 0.3s, border-bottom-color 0.3s; }
  .fixed-top .navbar-top {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2); }
    .fixed-top .navbar-top .navbar-nav .nav-link {
      padding-left: 6px;
      padding-right: 6px; }
  @media (min-width: 992px) {
    .fixed-top:not(.navbar-bg) {
      color: #fff; }
      .fixed-top:not(.navbar-bg) .navbar-bottom {
        padding-top: 16px;
        padding-bottom: 16px; }
        .fixed-top:not(.navbar-bg) .navbar-bottom .navbar-nav .nav-link {
          font-weight: 600; } }
  .fixed-top .navbar-brand {
    max-width: 70%;
    position: relative;
    padding: 0; }
    .fixed-top .navbar-brand img {
      height: 40px;
      transition: 0.3s; }
  .fixed-top a:not(.btn):not(:hover) {
    color: #FFF; }
  .fixed-top a.contact-link {
    font-size: 12px;
    display: inline-block;
    margin-right: 16px; }
  .fixed-top a:hover {
    color: #FFF !important;
    opacity: 0.6; }
  .fixed-top a.nav-link {
    font-size: 13px;
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase; }
    @media (min-width: 1200px) {
      .fixed-top a.nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important; } }
  .fixed-top .navbar-nav {
    padding-bottom: 0.5rem; }
    @media (min-width: 992px) {
      .fixed-top .navbar-nav {
        padding-bottom: 0;
        padding-right: 20px; } }
  .fixed-top.navbar-bg .navbar-top {
    background-color: #FFF;
    border-bottom-color: #EDEDED; }
    .fixed-top.navbar-bg .navbar-top a {
      color: #ABABAB; }
  .fixed-top.navbar-bg .navbar-bottom {
    background-color: #fff;
    border-bottom: 1px solid;
    border-bottom-color: #EDEDED; }
    @media (min-width: 1200px) {
      .fixed-top.navbar-bg .navbar-bottom .fa-search {
        color: #181B31; }
      .fixed-top.navbar-bg .navbar-bottom .navbar-nav .nav-link {
        color: #181B31;
        font-weight: 600; } }
  @media (max-width: 1199.98px) {
    .fixed-top #navbar {
      position: fixed;
      width: 260px;
      right: -260px;
      top: 0;
      bottom: 0;
      overflow: auto;
      min-height: calc(100vh + 31px);
      padding: 54px 15px;
      background-color: #05385C;
      transition: 0.3s; } }

@media (max-width: 1199.98px) {
  .menubar-in {
    overflow: hidden; }
    .menubar-in .fixed-top {
      transform: translateX(-260px); } }
.navbar-toggler {
  display: inline-block;
  cursor: pointer;
  transition: none;
  padding: 0;
  border: 0;
  width: 26px; }
  .navbar-toggler:before {
    width: 26px;
    animation-name: sandwich-1; }
  .navbar-toggler span {
    width: 20px;
    animation-name: sandwich-2; }
  .navbar-toggler:after {
    width: 14px;
    animation-name: sandwich-3; }
  .navbar-toggler:before, .navbar-toggler:after {
    content: ""; }
  .navbar-toggler span, .navbar-toggler:after {
    margin-top: 6px; }
  .navbar-toggler span, .navbar-toggler:before, .navbar-toggler:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    border-top: 2px solid;
    margin-left: auto;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s; }
    .navbar-bg .navbar-toggler span, .navbar-bg .navbar-toggler:before, .navbar-bg .navbar-toggler:after {
      border-top: 2px solid #000; }
  .navbar-toggler.active:before {
    transform: rotate(-45deg);
    width: 23px; }
  .navbar-toggler.active span {
    width: 0;
    opacity: 0; }
  .navbar-toggler.active:after {
    transform: rotate(45deg);
    width: 23px; }
  .navbar-toggler.active span, .navbar-toggler.active:before, .navbar-toggler.active:after {
    animation-name: none !important; }

@keyframes sandwich-1 {
  50% {
    width: 14px; } }
@keyframes sandwich-2 {
  25% {
    width: 16px; }
  50% {
    width: 20px; }
  75% {
    width: 24px; } }
@keyframes sandwich-3 {
  50% {
    width: 26px; } }
.header {
  overflow: hidden;
  color: #fff; }
  .header > .container {
    display: flex;
    flex-direction: column;
    padding-top: 100px; }
    .header > .container .my-auto {
      padding-top: 95px;
      padding-bottom: 235px; }
      @media (max-width: 575.98px) {
        .header > .container .my-auto {
          padding-top: 40px;
          padding-bottom: 202px; } }

.o-hidden {
  overflow: hidden; }

main {
  z-index: 2;
  position: relative;
  background: #FFF;
  overflow: hidden; }

.btn-my {
  border-radius: 100px;
  padding: 11px 22px 11px 26px;
  border: none;
  font-family: "Titillium Web", sans-serif;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none !important;
  font-size: 14px;
  background: #FD8080;
  color: #FFF; }
  .btn-my span {
    vertical-align: middle; }
  .btn-my:after {
    content: "";
    display: inline-block;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-size: cover;
    margin-left: 10px;
    vertical-align: middle;
    transition: 0.3s;
    background-image: url(../img/arrow-white.svg); }
  .btn-my:hover {
    color: #FFF; }
    .btn-my:hover:before {
      transform: none; }
    .btn-my:hover:after {
      transform: translateX(-5px); }
  .btn-my:active:after {
    transform: translateX(5px); }

.section-1 .container {
  margin-top: -140px; }
  .section-1 .container .img {
    position: absolute;
    width: 600px;
    top: 300px;
    left: 75%; }
    @media (max-width: 991.98px) {
      .section-1 .container .img {
        display: none; } }
  .section-1 .container .card-1 {
    height: 100%;
    padding: 32px;
    border-radius: 0 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: 0.3s; }
    .section-1 .container .card-1:hover {
      box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07); }
  .section-1 .container .card-2 {
    height: 100%;
    padding: 30px;
    border: 0;
    position: relative; }
    .section-1 .container .card-2 a {
      position: relative; }
      .section-1 .container .card-2 a:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0px;
        width: 0;
        border-bottom: 1px solid #FF8080;
        transition: 0.3s; }
      .section-1 .container .card-2 a:hover {
        color: #FF8080;
        opacity: 0.6; }
        .section-1 .container .card-2 a:hover:after {
          width: 100%; }
  @media (min-width: 1200px) {
    .section-1 .container [class^="col"]:not(:last-child) .card-2:before {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      width: 1px;
      height: 145px;
      display: inline-block;
      background: #D8D8D8; } }

@media (min-width: 768px) {
  .page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; } }
.page-footer a {
  color: #181B31;
  font-size: 14px; }
  .page-footer a:hover {
    opacity: 0.6; }
.page-footer .input-group {
  height: 44px; }
  .page-footer .input-group .form-control {
    font-size: 14px;
    height: 44px;
    background: #FFF;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0; }
    .page-footer .input-group .form-control:focus {
      box-shadow: none;
      border-color: #ced4da; }
  .page-footer .input-group .btn-subscribe {
    font-size: 14px;
    font-weight: bold;
    background: #FFF;
    border-color: #ced4da;
    font-family: "Titillium Web", sans-serif;
    color: #FF8080;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: 0;
    transition: 0.3s; }
    .page-footer .input-group .btn-subscribe:hover {
      opacity: 0.6; }
    .page-footer .input-group .btn-subscribe:focus {
      box-shadow: none; }
  .page-footer .input-group .input-group-prepend span.btn {
    border: 1px solid #ced4da; }

.footer-bottom {
  background: #FFF;
  color: #797676;
  margin-top: 24px; }
  .footer-bottom a {
    color: #797676; }
    .footer-bottom a.contact-link {
      font-size: 12px;
      display: inline-block;
      margin-right: 12px; }

.owl-carousel .owl-stage-outer {
  cursor: ew-resize; }
.owl-carousel .owl-dots {
  font-size: 0; }
  .owl-carousel .owl-dots .owl-dot {
    vertical-align: middle; }
    .owl-carousel .owl-dots .owl-dot span {
      background: transparent !important;
      margin: 0;
      height: 0;
      border-bottom: 3px solid #ABABAB;
      transition: 0.3s;
      border-radius: 0; }
      .owl-carousel .owl-dots .owl-dot span:hover {
        border-bottom-color: #FF8080; }
    .owl-carousel .owl-dots .owl-dot.active span {
      border-bottom-color: #FF8080; }
.owl-carousel .owl-nav {
  margin: 0 -12px; }
  .owl-carousel .owl-nav [class*=owl-] {
    background: transparent !important;
    padding: 0;
    margin: 0;
    border-radius: 0;
    vertical-align: middle; }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    width: 11px;
    height: 19px;
    background-image: url(../img/arrow-left.svg) !important;
    background-size: cover;
    margin: 0 12px;
    transition: 0.3s; }
    .owl-carousel .owl-nav .owl-prev:not(.disabled):hover, .owl-carousel .owl-nav .owl-next:not(.disabled):hover {
      opacity: 0.8; }
  .owl-carousel .owl-nav .owl-next {
    transform: rotate(180deg); }

.section-2 {
  background: #F4F5F8;
  position: relative;
  z-index: -2; }
  .section-2 .nav {
    background: #F4F5F8;
    position: relative;
    z-index: 10; }
    .section-2 .nav .nav-link {
      font-family: "Titillium Web", sans-serif;
      font-weight: 600;
      font-size: 16px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 10px;
      padding-right: 10px;
      color: #05385C;
      display: inline-block;
      transition: 0.3s;
      line-height: 1; }
      .section-2 .nav .nav-link span {
        border-bottom: 2px solid transparent; }
      .section-2 .nav .nav-link:hover {
        opacity: 0.6; }
      .section-2 .nav .nav-link.active {
        font-weight: 600;
        color: #FF8080; }
        .section-2 .nav .nav-link.active span {
          border-bottom: 2px solid #FF8080; }
  @media (min-width: 1200px) {
    .section-2 .owl-1 {
      margin-top: -55px; } }
  .section-2 .owl-1 .owl-item img {
    width: auto; }
  .section-2 .owl-1 .owl-dots {
    bottom: 0;
    position: absolute;
    margin: 0 -12.5px !important;
    left: 0;
    z-index: 10; }
    @media (max-width: 991.98px) {
      .section-2 .owl-1 .owl-dots {
        right: 0;
        left: auto; } }
    @media (max-width: 767.98px) {
      .section-2 .owl-1 .owl-dots {
        bottom: -4%; } }
    .section-2 .owl-1 .owl-dots .owl-dot {
      margin: 0 12.5px; }
      .section-2 .owl-1 .owl-dots .owl-dot span {
        width: 28px; }
  .section-2 .block {
    margin-top: 100px; }
    @media (max-width: 1199.98px) {
      .section-2 .block {
        margin-top: 30px; } }
    @media (max-width: 991.98px) {
      .section-2 .block {
        margin-top: 10px; } }
    @media (max-width: 767.98px) {
      .section-2 .block {
        margin-top: 30px; } }
    .section-2 .block .slide {
      position: relative;
      padding: 24px 0 20px; }
      @media (max-width: 991.98px) {
        .section-2 .block .slide {
          padding: 30px 0 20px; } }
      @media (max-width: 767.98px) {
        .section-2 .block .slide {
          padding: 20px 0 20px; } }
    .section-2 .block .info {
      position: absolute;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 4.5px 12px;
      min-width: 110px;
      text-align: center;
      border-radius: 100px;
      background: #71C9D9;
      font-family: "Titillium Web", sans-serif; }
      @media (min-width: 992px) {
        .section-2 .block .info {
          margin-top: -27px; } }
      @media (max-width: 767.98px) {
        .section-2 .block .info {
          margin-top: -27px; } }

.demopills span {
  display: inline-block;
  vertical-align: middle;
  color: #797676;
  border: 1px solid #71C9D9;
  border-radius: 100px;
  font-size: 10px;
  padding: 4px 20px; }

.body-dashboard {
  min-height: 100vh;
  transition: 0.3s;
  padding-top: 80px; }
  @media (min-width: 1200px) {
    .body-dashboard.menubar-1 {
      padding-left: 0; }
      .body-dashboard.menubar-1 .sidebar-1 {
        margin-left: -260px; } }
  @media (max-width: 1199.98px) {
    .body-dashboard.menubar-1 {
      overflow: hidden;
      transform: translateX(260px); } }
  @media (max-width: 575.98px) {
    .body-dashboard {
      padding-top: 60px; } }

.sidebar-1, .navbar, .content, .sidebar-2 {
  transition: 0.3s; }

.sidebar-1 {
  width: 260px;
  min-width: 260px;
  top: 80px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1020; }
  @media (max-width: 1199.98px) {
    .sidebar-1 {
      position: fixed;
      max-height: 100vh;
      left: auto;
      right: 100%; } }
  .sidebar-1 .sidebar-bottom {
    flex-grow: 1;
    overflow: auto;
    background: #FFF;
    box-shadow: 5px 4px 15px rgba(215, 220, 227, 0.5); }
    .sidebar-1 .sidebar-bottom::-webkit-scrollbar {
      display: none; }
    .sidebar-1 .sidebar-bottom .accordion-wrap {
      padding: 36px 0 72px; }
      .sidebar-1 .sidebar-bottom .accordion-wrap .accordion-links {
        display: block;
        font-family: "Titillium Web", sans-serif;
        color: #05385C;
        overflow: hidden;
        font-size: 14px;
        font-weight: 600;
        padding: 14px 0;
        transition: 0.3s;
        border-left: 4px solid transparent; }
        .sidebar-1 .sidebar-bottom .accordion-wrap .accordion-links:hover, .sidebar-1 .sidebar-bottom .accordion-wrap .accordion-links.active {
          background: #F1F4F8; }
        .sidebar-1 .sidebar-bottom .accordion-wrap .accordion-links.active {
          border-left: 4px solid #FF8080;
          color: #FF8080; }
          .sidebar-1 .sidebar-bottom .accordion-wrap .accordion-links.active svg rect, .sidebar-1 .sidebar-bottom .accordion-wrap .accordion-links.active svg path {
            fill: #FF8080; }

.sidebar-top {
  background: #05385C;
  padding: 20px 30px;
  width: 260px;
  transition: 0.3s; }
  @media (max-width: 1199.98px) {
    .sidebar-top {
      margin-left: -260px; } }
  @media (max-width: 575.98px) {
    .sidebar-top {
      margin-left: -260px;
      padding: 10px 30px; } }

.art {
  display: flex;
  margin-left: auto;
  padding: 10px 20px; }
  @media (max-width: 575.98px) {
    .art {
      padding: 10px 15px; } }

.px-26 {
  padding-left: 26px;
  padding-right: 26px; }

.content {
  padding: 42px 50px 0; }
  @media (max-width: 1199.98px) {
    .content {
      padding: 30px 30px 0; } }
  @media (max-width: 767.98px) {
    .content {
      padding: 15px 15px 0; } }

.navbar-dashboard {
  padding: 0;
  color: #FFF;
  background: #05385C !important; }
  @media (max-width: 1199.98px) {
    .navbar-dashboard {
      position: absolute;
      padding-right: 30px; } }
  @media (max-width: 767.98px) {
    .navbar-dashboard {
      padding-right: 15px; } }

.avatar {
  width: 38px;
  height: 38px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  position: relative; }
  .avatar .check-arrow {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #FF8080;
    border: 1px solid #FFF;
    right: -4px;
    bottom: -2px; }
    .avatar .check-arrow img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.bell {
  display: inline-block;
  padding: 0 24px;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070; }
  @media (max-width: 575.98px) {
    .bell {
      padding: 0 16px; } }
  .bell .bell-circle {
    position: absolute;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background: #71C9D9;
    right: 0;
    top: -9px; }

.sandwich {
  color: inherit;
  display: block;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
  transition: 0.3s; }
  .sandwich:before, .sandwich:after {
    content: ""; }
  .sandwich span, .sandwich:after {
    margin-top: 6px; }
  .sandwich span, .sandwich:before, .sandwich:after {
    width: 26px;
    display: block;
    transition: 0.3s;
    transform-origin: left center;
    border-top: 2px solid;
    color: #FFF; }
  .sandwich.active:before {
    transform: translateX(3px) translateY(-1px) rotate(45deg); }
  .sandwich.active span {
    width: 0;
    opacity: 0; }
  .sandwich.active:after {
    transform: translateX(3px) translateY(1px) rotate(-45deg); }
  .sandwich:hover {
    opacity: 0.8; }

#sandwich-1.active {
  color: initial;
  transform: translateX(70px); }
@media (max-width: 1199.98px) {
  #sandwich-1 {
    color: initial;
    transform: translateX(85px); } }
@media (max-width: 767.98px) {
  #sandwich-1 {
    transform: translateX(75px) !important; } }

@media (min-width: 1440px) {
  #sandwich-2 {
    display: none; } }

.scroll-wrap {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 110px; }
  @media (max-width: 991.98px) {
    .scroll-wrap {
      min-height: 330px; } }
  @media (max-width: 575.98px) {
    .scroll-wrap {
      min-height: 355px; } }

.scroll-wrap-2 {
  min-height: 420px; }
  @media (max-width: 575.98px) {
    .scroll-wrap-2 {
      min-height: 800px; } }

.scroll-wrap-3 {
  min-height: 420px; }
  @media (max-width: 575.98px) {
    .scroll-wrap-3 {
      min-height: 460px; } }

.scroll {
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px; }
  .scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  .scroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px; }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #F1F1F6;
    border-radius: 2px; }

.cart {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  height: calc(100% - 30px); }
  @media (max-width: 767.98px) {
    .cart {
      margin-bottom: 15px;
      height: calc(100% - 15px); } }
  .cart .block-dashboard {
    padding: 5px 15px 15px; }

@media (min-width: 992px) {
  .cart-2 {
    margin-bottom: 20px;
    height: calc(100% - 20px); } }

.cart-content {
  padding: 20px; }
  @media (max-width: 991.98px) {
    .cart-content {
      padding: 15px; } }

.cart-content-2 {
  padding: 30px; }
  @media (max-width: 991.98px) {
    .cart-content-2 {
      padding: 15px; } }

.cart-content-3 {
  padding: 30px; }

.main-dashboard {
  display: flex;
  background: #F1F4F8;
  border-bottom: 1px solid #DCDCDC; }

.dropdown-1 .dropdown-toggle:after {
  display: none; }
.dropdown-1 .dropdown-menu {
  margin-top: 0;
  top: 200%;
  left: 0;
  background: #05385C;
  min-width: auto; }
  @media (max-width: 575.98px) {
    .dropdown-1 .dropdown-menu {
      top: 160%; } }
  .dropdown-1 .dropdown-menu .dropdown-item {
    font-size: 13px;
    font-weight: 600;
    padding: 4px 16px;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase; }
    .dropdown-1 .dropdown-menu .dropdown-item:hover, .dropdown-1 .dropdown-menu .dropdown-item:active, .dropdown-1 .dropdown-menu .dropdown-item:focus {
      background: #05385C;
      opacity: 0.6;
      color: #FFF; }

.nav-dashboard .nav-link {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  color: #05385C;
  opacity: 0.5;
  display: inline-block;
  transition: 0.3s;
  line-height: 1; }
  .nav-dashboard .nav-link span {
    border-bottom: 2px solid transparent; }
  .nav-dashboard .nav-link:hover {
    opacity: 1; }
  .nav-dashboard .nav-link.active {
    opacity: 1; }
    .nav-dashboard .nav-link.active span {
      border-bottom: 2px solid #05385C; }

.three-points {
  display: inline-block;
  font-size: 14px;
  color: #000;
  border-radius: 100px;
  height: 31px;
  line-height: 31px;
  width: 31px;
  text-align: center;
  background: #FFF;
  transform: rotate(90deg); }
  .bg-img .three-points {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(255, 255, 255, 0.5); }

.cart-events {
  color: #05385C;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: #F8FAFC;
  overflow: hidden; }
  .cart-events .block-events {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }

.bg-img {
  background-size: cover;
  background-position: center center; }

.bg-img2 {
  height: 100%; }
  @media (max-width: 767.98px) {
    .bg-img2 {
      height: 186px; } }

.bg-img3 {
  width: 60px;
  overflow: hidden;
  border-radius: 3px; }

.bg-img4 {
  width: 48px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block; }

.cart-news {
  color: #05385C;
  border-radius: 3px;
  background: #F8FAFC;
  overflow: hidden; }
  .cart-news .block-news {
    padding: 24px 24px 16px 24px; }
    @media (max-width: 767.98px) {
      .cart-news .block-news {
        padding: 24px 16px; } }

/*# sourceMappingURL=style.css.map */
