@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap')

@font-face
	font-family: 'Proxima-Nova'
	src: url('../fonts/ProximaNova-Regular.ttf')
	font-weight: normal
@font-face
	font-family: 'Proxima-Nova'
	src: url('../fonts/ProximaNova-Semibold.ttf')
	font-weight: 600
@font-face
	font-family: 'ProximaNova'
	src: url('../fonts/ProximaNova-Bold.ttf')
	font-weight: bold

* 
	outline: none !important

img 
	max-width: 100%
	height: auto

a 
	text-decoration: none !important
	transition: .3s

body 
	font-family: 'Proxima-Nova', sans-serif
	color: #181B31
	display: flex
	flex-direction: column

.bg-blue1 
	background-color: #71C9D9 !important

.bg-blue2 
	background-color: #05385C !important

.bg-pink 
	background-color: #FF8080 !important

.bg-gray 
	background-color: #F8FAFC !important

.blue 
	color: #05385C

.blue2
	color: #71C9D9

.pink 
	color: #FF8080

.gray 
	color: #707070

.green 
	color: #2CB374

.brown
	color: #E69775

.container 
	@media (min-width: 1200px)
		max-width: 1120px

.titillium 
	font-family: 'Titillium Web', sans-serif

.row-1
	margin-left: -8px
	margin-right: -8px
	> [class*='col']
		padding-left: 8px
		padding-right: 8px

@media (min-width: 1200px)
	.row-2
		margin-left: -22px
		margin-right: -22px
		> [class*='col']
			padding-left: 22px
			padding-right: 22px

.row-3
	margin-left: -4px
	margin-right: -4px
	> [class*='col']
		padding-left: 4px
		padding-right: 4px

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6
	font-family: 'Titillium Web', sans-serif

.h1, h1
	font-weight: bold
	font-size: 48px
	@media (max-width: 575.98px)
		font-size: 40px

.h2, h2
	font-weight: 600
	font-size: 45px
	color: #05385C
	@media (max-width: 575.98px)
		font-size: 35px

.h3, h3
	font-weight: 600
	font-size: 30px
	color: #05385C

.h4, h4
	font-weight: 600
	font-size: 24px
	color: #05385C

.h5, h5
	font-weight: 600
	font-size: 18px
	color: #05385C

.h6, h6
	font-weight: 600
	font-size: 16px
	color: #05385C
	margin-bottom: 0

a
	&.h6 
		&:hover 
			color: initial
			opacity: .6

.fz-0
	font-size: 0px
.fz-12
	font-size: 12px
.fz-14
	font-size: 14px
.fz-15
	font-size: 15px
.fz-18
	font-size: 18px
.fz-20
	font-size: 20px
.fz-23
	font-size: 23px
.fz-30
	font-size: 30px
.fz-32
	font-size: 32px
	@media (max-width: 575.98px)
		font-size: 26px
.fz-36
	font-size: 36px
	@media (max-width: 1399.98px)
		font-size: 30px
.fz-40
	font-size: 40px
.fz-48
	font-size: 48px

.fw-500
	font-weight: 500
.fw-600
	font-weight: 600

.lh-1
	line-height: 1
.lh-12
	line-height: 1.2

.bt-1
	border-top: 1px solid #ced4da

.border-3
	border-radius: 3px

.link-pink
	font-size: 13px
	font-weight: bold
	font-family: 'Titillium Web', sans-serif
	color: #FF8080
	.arrow-pink 
		transition: .3s
	&:hover 
		color: #FF8080
		opacity: .6
		.arrow-pink 
			transform: translateX(5px)

.link-pink-12
	font-size: 12px

.link-blue
	font-size: 12px
	color: #71C9D9
	&:hover 
		color: #71C9D9

.link-tag
	display: inline-block
	font-size: 12px
	padding: 2px 10px
	color: #05385C
	background: #FFF
	border-radius: 3px
	margin-bottom: 8px
	margin-right: 4px
	&:hover 
		color: #05385C
		opacity: .6

.btn-login
	background: #FF8080
	color: #FFF
	font-family: 'Titillium Web', sans-serif
	text-transform: uppercase 
	font-size: 13px
	font-weight: bold
	border-radius: 100px
	padding: 8px 24px
	transition: .3s
	&:focus 
		box-shadow: none

.btn-add 
	text-transform: capitalize
	&:hover 
		color: #FFF
		opacity: .8 

.btn-follow
	padding: 5px 28px

.btn-following
	background: #FFF
	border: 1px solid #FF8080
	color: #FF8080
	padding: 5px 19px
	&:hover 
		background: #FF8080
		color: #FFF
		opacity: 1


.btn-approval
	color: #FFF
	background: #2CB374
	font-size: 12px
	border-radius: 3px
	padding: 2px 12px
	transition: .3s
	&:focus 
		box-shadow: none
	&:hover 
		color: #FFF
		opacity: .8

.btn-pending
	color: #05385C
	background: #FFCD69
	&:hover 
		color: #05385C
		opacity: .8

.fixed-top
	background: rgba(5, 56, 92, 0.5)
	transition: transform .3s, margin-top .3s
	.navbar 
		padding-left: 0
		padding-right: 0
		transition: background-color .3s, padding-top .3s, padding-bottom .3s, border-bottom-color .3s
	.navbar-top
		padding-top: 2px
		padding-bottom: 2px
		border-bottom: 1px solid
		border-bottom-color: rgba(255, 255, 255, 0.2)
		.navbar-nav 
			.nav-link 
				padding-left: 6px
				padding-right: 6px
	@media (min-width: 992px)
		&:not(.navbar-bg)
			color: #fff
			.navbar-bottom
				padding-top: 16px
				padding-bottom: 16px
				.navbar-nav 
					.nav-link 
						font-weight: 600
	.navbar-brand
		max-width: 70%
		position: relative
		padding: 0
		img
			height: 40px
			transition: .3s
	a
		&:not(.btn):not(:hover)
			color: #FFF
		&.contact-link
			font-size: 12px
			display: inline-block
			margin-right: 16px
		&:hover 
			color: #FFF !important
			opacity: .6
		&.nav-link
			font-size: 13px
			font-family: 'Titillium Web', sans-serif
			letter-spacing: 1px
			position: relative
			text-transform: uppercase
			@media (min-width: 1200px)
				padding-left: 10px !important
				padding-right: 10px !important
	.navbar-nav
		padding-bottom: .5rem
		@media (min-width: 992px)
			padding-bottom: 0
			padding-right: 20px
	&.navbar-bg
		.navbar-top
			background-color: #FFF
			border-bottom-color: #EDEDED
			a 
				color: #ABABAB
		.navbar-bottom
			background-color: #fff
			border-bottom: 1px solid
			border-bottom-color: #EDEDED
			@media (min-width: 1200px)
				.fa-search 
					color: #181B31
				.navbar-nav 
					.nav-link 
						color: #181B31
						font-weight: 600
	@media (max-width: 1199.98px)
		#navbar
			position: fixed
			width: 260px
			right: -260px
			top: 0
			bottom: 0
			overflow: auto
			min-height: calc(100vh + 31px)
			padding: 54px 15px
			background-color: #05385C
			transition: .3s

@media (max-width: 1199.98px)
	.menubar-in
		overflow: hidden
		.fixed-top
			transform: translateX(-260px)

.navbar-toggler
	display: inline-block
	cursor: pointer
	transition: none
	padding: 0
	border: 0
	width: 26px
	&:before
		width: 26px
		animation-name: sandwich-1
	span
		width: 20px
		animation-name: sandwich-2
	&:after
		width: 14px
		animation-name: sandwich-3
	&:before, &:after
		content: ''
	span, &:after
		margin-top: 6px
	span, &:before, &:after
		display: block
		transition: .3s
		transform-origin: right center
		border-top: 2px solid
		margin-left: auto
		animation-timing-function: linear
		animation-iteration-count: infinite
		animation-duration: 3s
		.navbar-bg &
			border-top: 2px solid #000
	&.active
		&:before
			transform: rotate(-45deg)
			width: 23px
		span
			width: 0
			opacity: 0
		&:after
			transform: rotate(45deg)
			width: 23px
		span, &:before, &:after
			animation-name: none !important
@keyframes sandwich-1
	50%
		width: 14px
@keyframes sandwich-2
	25%
		width: 16px
	50%
		width: 20px
	75%
		width: 24px
@keyframes sandwich-3
	50%
		width: 26px

.header 
	overflow: hidden
	color: #fff
	> .container
		display: flex
		flex-direction: column
		padding-top: 100px
		.my-auto
			padding-top: 95px
			padding-bottom: 235px
			@media (max-width: 575.98px)
				padding-top: 40px
				padding-bottom: 202px

.o-hidden
	overflow: hidden

main 
	z-index: 2
	position: relative
	background: #FFF
	overflow: hidden
	flex-grow: 1

.btn-my
	border-radius: 100px
	padding: 11px 22px 11px 26px
	border: none
	font-family: 'Titillium Web', sans-serif
	position: relative
	font-weight: bold
	text-transform: uppercase
	box-shadow: none !important
	font-size: 14px
	background: #FD8080
	color: #FFF
	span 
		vertical-align: middle
	&:after 
		content: ''
		display: inline-block
		font-size: 0
		width: 10px
		height: 10px
		background-size: cover
		margin-left: 10px
		vertical-align: middle
		transition: .3s
		background-image: url(../img/arrow-white.svg)
	&:hover 
		color: #FFF
		&:before 	
			transform: none
		&:after 
			transform: translateX(-5px)
	&:active
		&:after 
			transform: translateX(5px)

.section-1
	.container
		margin-top: -140px
		.img
			position: absolute
			width: 600px
			top: 300px
			left: 75%
			@media (max-width: 991.98px)
				display: none
		.card-1 
			height: 100%
			padding: 32px
			border-radius: 0 !important
			box-shadow: 0 3px 6px rgba(0, 0, 0, .16)
			transition: .3s
			&:hover 
				box-shadow: 0 25px 70px rgba(0,0,0,.07)
		.card-2
			height: 100%
			padding: 30px
			border: 0
			position: relative
			a 
				position: relative
				&:after 
					content: ""
					position: absolute
					bottom: -4px
					left: 0px
					width: 0
					border-bottom: 1px solid #FF8080
					transition: 0.3s
				&:hover 
					color: #FF8080
					opacity: .6
					&:after 
						width: 100%
		[class^="col"]
			&:not(:last-child)
				.card-2
					@media (min-width: 1200px)
						&:before 
							content: ""
							position: absolute
							right: 0
							top: 20%
							width: 1px
							height: 145px
							display: inline-block
							background: #D8D8D8

.page-footer 
	@media (min-width: 768px)
		position: fixed
		bottom: 0
		left: 0
		right: 0
	a 
		color: #181B31
		font-size: 14px
		&:hover 
			opacity: .6
	.input-group 
		height: 44px
		.form-control 
			font-size: 14px
			height: 44px
			background: #FFF
			border-top-left-radius: 100px
			border-bottom-left-radius: 100px
			border-right: 0
			&:focus 
				box-shadow: none
				border-color: #ced4da
		.btn-subscribe
			font-size: 14px
			font-weight: bold
			background: #FFF
			border-color: #ced4da
			font-family: 'Titillium Web', sans-serif
			color: #FF8080
			border-top-right-radius: 100px
			border-bottom-right-radius: 100px
			border-left: 0
			transition: .3s
			&:hover 
				opacity: .6
			&:focus 
				box-shadow: none
		.input-group-prepend
			span 
				&.btn 
					border: 1px solid #ced4da

.footer-bottom 
	background: #FFF
	color: #797676
	margin-top: 24px
	a 
		color: #797676
		&.contact-link
			font-size: 12px
			display: inline-block
			margin-right: 12px

.owl-carousel
	.owl-stage-outer
		cursor: ew-resize
	.owl-dots
		font-size: 0
		.owl-dot
			vertical-align: middle
			span 
				background: transparent !important
				margin: 0
				height: 0
				border-bottom: 3px solid #ABABAB
				transition: .3s
				border-radius: 0
				&:hover 	
					border-bottom-color: #FF8080
			&.active
				span 
					border-bottom-color: #FF8080
	.owl-nav 
		margin: 0 -12px
		[class*=owl-]
			background: transparent !important
			padding: 0
			margin: 0
			border-radius: 0
			vertical-align: middle
		.owl-prev, .owl-next 
			width: 11px 
			height: 19px
			background-image: url(../img/arrow-left.svg) !important
			background-size: cover
			margin: 0 12px
			transition: .3s
			&:not(.disabled):hover 
				opacity: .8
		.owl-next
			transform: rotate(180deg)

.section-2 
	background: #F4F5F8
	position: relative
	z-index: -2
	.nav 
		background: #F4F5F8
		position: relative
		z-index: 10
		.nav-link 
			font-family: 'Titillium Web', sans-serif
			font-weight: 600
			font-size: 16px
			padding-top: 4px
			padding-bottom: 4px
			padding-left: 10px
			padding-right: 10px
			color: #05385C
			display: inline-block
			transition: .3s
			line-height: 1
			span 
				border-bottom: 2px solid transparent
			&:hover 
				opacity: .6
			&.active 
				font-weight: 600
				color: #FF8080
				span 
					border-bottom: 2px solid #FF8080

.owl-1
	@media (min-width: 1200px)
		margin-top: -55px
	.owl-item img
		width: auto
	.owl-dots 
		bottom: 0
		position: absolute
		margin: 0 -12.5px !important
		left: 0
		z-index: 10
		@media (max-width: 991.98px)
			right: 0
			left: auto
		@media (max-width: 767.98px)
			bottom: -4%
		.owl-dot
			margin: 0 12.5px
			span
				width: 28px
	.block
		margin-top: 100px
		@media (max-width: 1199.98px)
			margin-top: 30px
		@media (max-width: 991.98px)
			margin-top: 10px
		@media (max-width: 767.98px)
			margin-top: 30px
		.slide
			position: relative
			padding: 24px 0 20px
			@media (max-width: 991.98px)
				padding: 30px 0 20px
			@media (max-width: 767.98px)
				padding: 20px 0 20px
		.info
			position: absolute
			color: #fff
			font-size: 10px
			font-weight: bold
			text-transform: uppercase
			padding: 4.5px 12px
			min-width: 110px
			text-align: center
			border-radius: 100px
			background: #71C9D9
			font-family: 'Titillium Web', sans-serif
			@media (min-width: 992px)
				margin-top: -27px
			@media (max-width: 767.98px)
				margin-top: -27px

.owl-2
	margin-top: 0
	.owl-dots 
		margin: 0 -5.5px !important
		left: 52%
		@media (max-width: 767.98px)
			bottom: 8px
			left: 0
		.owl-dot
			margin: 0 5.5px
			span
				width: 20px

.owl-3
	position: static
	.owl-dots 
		margin: 0 -12.5px !important
		left: 30px
		bottom: 40px
		right: auto
		margin: 0 -5.5px !important
		@media (max-width: 1399.98px)
			left: 15px
			bottom: 25px

.demopills 
	span 
		display: inline-block
		vertical-align: middle
		color: #797676
		border: 1px solid #71C9D9
		border-radius: 100px
		font-size: 10px
		padding: 4px 20px

// DASHBOARD

.body-dashboard
	min-height: 100vh
	transition: .3s
	padding-top: 80px
	&.menubar-1
		@media (min-width: 1200px)
			padding-left: 0
			.sidebar-1
				margin-left: -280px
				@media (max-width: 575.98px)
					margin-left: -260px
		@media (max-width: 1199.98px)
			overflow: hidden
			transform: translateX(280px)
		@media (max-width: 575.98px)
			transform: translateX(260px)
	@media (max-width: 575.98px)
		padding-top: 60px

.sidebar-1, .navbar, .content
	transition: .3s

.sidebar-1
	width: 280px
	min-width: 280px
	top: 80px
	bottom: 0
	left: 0
	display: flex
	flex-direction: column
	z-index: 1020
	@media (max-width: 1199.98px)
		position: fixed
		max-height: 100vh
		left: auto
		right: 100%
	@media (max-width: 575.98px)
		top: 60px
		width: 260px
		min-width: 260px
	.sidebar-bottom
		flex-grow: 1
		overflow: auto
		background: #FFF
		box-shadow: 5px 4px 15px rgba(215, 220, 227, .5)
		&::-webkit-scrollbar
			display: none
		.accordion-wrap
			padding: 0 24px 72px
			.accordion-links 
				display: inline-block
				font-family: 'Titillium Web', sans-serif
				color: #05385C
				overflow: hidden
				font-size: 14px
				font-weight: 600
				padding: 4px 0
				transition: .3s
				svg 
					rect, path 
						transition: .3s
				&:hover, &.active 
					color: #FF8080
					svg 
						rect, path
							fill: #FF8080

.sidebar-top
	background: #05385C
	padding: 20px 30px
	width: 280px
	transition: .3s
	@media (max-width: 1199.98px)
		margin-left: -280px
	@media (max-width: 575.98px)
		width: 260px
		margin-left: -260px
		padding: 10px 30px

.art
	display: flex
	margin-left: auto
	padding: 10px 20px 10px 10px 
	@media (max-width: 575.98px)
		padding: 10px 15px

.content
	padding: 42px 50px 0
	flex-wrap: wrap
	@media (max-width: 1199.98px)
		padding: 30px 30px 0
	@media (max-width: 767.98px)
		padding: 15px 15px 0

.content-2
	padding: 42px 25px 0
	max-width: 100%
	@media (max-width: 1199.98px)
		padding: 30px 20px 0
	@media (max-width: 991.98px)
		padding: 30px 15px 0
	@media (min-width: 992px)
		max-width: calc(100% - 280px)
	@media (min-width: 1200px)
		max-width: calc(100% - 280px - 280px)
	@media (min-width: 1400px)
		max-width: calc(100% - 280px - 320px)

.navbar-dashboard
	padding: 0
	color: #FFF
	background: #05385C !important
	@media (max-width: 1199.98px)
		position: absolute
		padding-right: 30px
	@media (max-width: 767.98px)
		padding-right: 15px

.avatar
	width: 38px
	height: 38px
	background-size: cover
	background-position: center center
	display: inline-block
	position: relative
	.check-arrow 
		position: absolute
		display: inline-block
		width: 14px
		height: 14px
		border-radius: 100px
		background: #FF8080
		border: 1px solid #FFF
		right: -4px
		bottom: -2px
		img	
			position: absolute 
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

.bell 
	display: inline-block
	padding: 0 24px
	border-left: 1px solid #707070
	border-right: 1px solid #707070
	@media (max-width: 575.98px)
		padding: 0 16px
	.bell-circle
		position: absolute
		display: inline-block
		width: 7px
		height: 7px
		border-radius: 100px
		background: #74D971
		right: 0
		top: -9px

.sandwich
	color: inherit
	display: block
	cursor: pointer
	padding: 0
	border: 0
	background: transparent
	transition: .3s
	&:before, &:after
		content: ''
	span, &:after
		margin-top: 6px
	span, &:before, &:after
		width: 26px
		display: block
		transition: .3s
		transform-origin: left center
		border-top: 2px solid
		color: #FFF
	&.active
		&:before
			transform: translateX(3px) translateY(-1px) rotate(45deg)
		span
			width: 0
			opacity: 0
		&:after
			transform: translateX(3px) translateY(1px) rotate(-45deg)
	&:hover 
		opacity: .8
#sandwich-1
	&.active
		color: initial
		transform: translateX(70px)
	@media (max-width: 1199.98px)
		color: initial
		transform: translateX(85px)
	@media (max-width: 767.98px)
		transform: translateX(75px) !important

.cart
	display: flex
	flex-direction: column
	border-radius: 3px
	background-color: #fff
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
	margin-bottom: 30px
	height: calc(100% - 30px)
	@media (max-width: 767.98px)
		margin-bottom: 15px
		height: calc(100% - 15px)
	.block-dashboard 
		padding: 5px 15px 15px 

.cart-2
	margin-bottom: 20px
	height: calc(100% - 20px)

.cart-content
	padding: 20px
	@media (max-width: 991.98px)
		padding: 30px 15px

.cart-content-2
	padding: 30px
	@media (max-width: 1399.98px)
		padding: 20px
	@media (max-width: 1199.98px)
		padding: 15px

.main-dashboard 
	display: flex
	background: #F1F4F8
	border-bottom: 1px solid #DCDCDC
	flex-grow: 1
	flex-wrap: wrap

.dropdown-1 
	.dropdown-toggle 
		&:after 
			display: none
	.dropdown-menu
		margin-top: 0
		top: 200%
		left: 0
		background: #05385C
		min-width: auto
		@media (max-width: 575.98px)
			top: 160%
		.dropdown-item
			font-size: 13px
			font-weight: 600
			padding: 4px 16px
			font-family: 'Titillium Web', sans-serif
			text-transform: uppercase
			&:hover, &:active, &:focus
				background: #05385C
				opacity: .6
				color: #FFF

.three-points 
	display: inline-block
	font-size: 14px
	color: #000
	border-radius: 100px
	height: 31px
	line-height: 31px
	width: 31px
	text-align: center
	background: #FFF
	transform: rotate(90deg)
	.bg-img &
		position: absolute
		right: 10px
		top: 10px
		background: rgba(255, 255, 255, 0.5)

.cart-events
	color: #05385C
	height: 100%
	display: flex
	flex-direction: column
	border-radius: 3px
	background: #F8FAFC
	overflow: hidden
	.block-events
		padding: 24px 16px
		display: flex
		flex-direction: column
		flex-grow: 1

.bg-icons
	display: inline-block
	background-size: cover
	background-position: center center
	width: 14px
	height: 14px

.bg-calendar
	background-image: url(../img/calendar.svg)

.bg-time
	background-image: url(../img/time.svg)

.bg-location
	background-image: url(../img/location.svg)

.bg-cross-white
	background-image: url(../img/cross.svg)

.bg-cross-pink
	background-image: url(../img/cross2.svg)

.link-share
	display: inline-block
	width: 31px
	height: 31px
	border-radius: 100px
	background: #FFF
	border: 1px solid #DADBDD
	position: relative
	&:hover 
		opacity: .6
	img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-60%, -50%)

.bg-img 
	background-size: cover
	background-position: center center

.bg-img4 
	width: 48px
	overflow: hidden
	border-radius: 3px
	display: inline-block

.bg-img5 
	width: 38px

.bg-img6 
	width: 40px

.bg-img-owl
	height: 100%
	@media (max-width: 767.98px)
		height: 300px

.aside-2
	width: 320px
	min-width: 320px
	background-color: #fff
	box-shadow: 5px 4px 15px rgba(215, 220, 227, 0.5)
	padding: 4px
	padding-bottom: 36px
	@media (max-width: 1399.98px)
		width: 280px
		min-width: 280px
	@media (max-width: 991.98px)
		width: 100%
		min-width: 100%
		background-color: transparent
		box-shadow: none
		padding: 0 15px

.chart-number 
	position: absolute
	color: #FFF
	font-size: 14px
	font-weight: 600
	font-family: 'Titillium Web', sans-serif
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.long-word 
	white-space: nowrap !important
	text-overflow: ellipsis
	overflow: hidden